.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width) { }


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header2 {
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* \swiper */
.swiper-container {
  width: 500px;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

/* buttons */
.button {
  display: center;
  border-block-color: grey;
  border-width: 13px;
  padding: 30px 90px;
  margin-block: 55px;
  background-color: orange;
  border-radius: 60px;

}

.buttonJ {
  display: center;
  border-block-color: grey;
  border-width: 3px;
  padding: 10px 30px;
  margin-left: 15px;
  background-color: orange;
  border-radius: 60px;

}

.buttonPages {
  border-block-color: grey;
  margin-right: 60px;
  /* border-width: 13px; */
  padding: 150px 150px;
  margin-block: 50px;
  background-color: orange;
  border-radius: 90px;
  /* display: center; */
  border-width: 20px;
}


.h1 {
  margin-left: 135px;
  padding-bottom: 50px;
}

.h2 {
  margin-left: 5px;
}


.p {
    margin-left: 29px;
}

.p2 {
  margin-left: 29px;
}

.wordOnly {
  border-style: none;
  background-color: orange;
  border-block-color: orange;
}

.wordOnly.hover {
  border-style: none;
  background-color: orange;
  border-block-color: orange;
}


/* nav */
.nav {
  padding-right: 15rem;
  margin-right: 50px;
}

.form {
  padding-bottom: 20px;
  padding-right: 270px;
  margin-bottom: 25px;

}

.table-responsive{
  display: center;
  padding: 20px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: rgb(245, 242, 238);
  border-radius: 20px;
  box-sizing: 50px;
}

.table-responsive2{
  display: center;
  padding: 20px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: rgb(245, 242, 238);
  border-radius: 20px;
  box-sizing: 50px;
}


.note {
  border-block-color: grey;
  padding-left: 20px;
  padding-top: 27px;
  margin-top: 25px;
  padding-bottom: 20px;
  padding-right: 270px;
  margin-left: 25px;
  border-radius: 29px;
border-width: 5px;}
  

.boarder {
  margin-top: 25px;
  margin-block-end: 25px;
  background-color: white;
}